/* -----------------------GLOBAL--------------------- */
.main-bg {
    background-color: black;
}

.main-color {
    color: black;
}

.my-container {
    width: 60%;
}



html {
    scroll-behavior: smooth;
    /* cursor: none; */
}

body {
    font-family: 'Lato', sans-serif;
    height: 5000px;
    line-height: 23px;

}

/* #pointer {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #dc3546a9;
    position: fixed;
    z-index: 2;
    transform: translate(-50%, -50%);
} */

.head h2 {
    letter-spacing: 8px;
}

/* -----------------------GLOBAL----------------------------------- */

/* ------------------ START HEADER ---------------------------------*/
header {
    height: 100vh;
}

header .navbar .navbar-nav .nav-item {
    text-align: center !important;
    transition: all 0.3s ease;
}

header .navbar .navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
}

header .navbar .navbar-nav .nav-item:hover {
    background-color: #ccc !important;
}

header .navbar .navbar-nav .nav-item:hover .nav-linl {
    color: black;
}

header .navbar-nav .dropdown:hover .nav-dropdownmenu {
    display: block !important;

}

header .navbar .search-icon {
    cursor: pointer;
}

.nav-dropdownmenu {
    margin: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0px 0px 4px #656060e0 !important;
}

header .carousel {
    height: 100vh !important;
}

header .carousel .carousel-item img {
    object-fit: cover;
    object-position: center 30px !important;
}

/* ------------------ END HEADER ---------------------------------*/

/* ------------------ START BAND ---------------------------------*/


<<<<<<< HEAD
=======
.band {
    /* height: 100vh;   */
}


>>>>>>> 8581b760a6863bf75a983f75a8ef52d3800c6291


/* ------------------      END BAND   --------------------------------*/


/* ------------------ START TOUR DATES ---------------------------------*/
.tourDates {
    padding: 5rem 0;
}

.tourDates h3 {
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.tourDates .tourDates-table,
.tourDates-cards {
    width: 70%;
    margin: 2rem auto 0;
    text-align: left;
}

.tourDates .tourDates-table td {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.tourDates .tourDates-table .tickets-sold {
    background-color: #f44336;
    color: #fff;
    padding: 2px 5px;
    margin-left: 15px;
}

.tourDates .tourDates-table .tickets-available {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    padding: 3px 8px;
}

.tourDates .tourDates-cards .col-md-4 {
    padding: 0 7px !important;
}

.tourDates .tourDates-cards .card {
    border: none !important;
    border-radius: 0 !important;
}

.tourDates .tourDates-cards .card-overlay {
    display: none;
    background-color: #0000006c;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tourDates .tourDates-cards .card-img:hover .card-overlay {
    display: block;
}

.tourDates .tourDates-cards .btn {
    background-color: #000;
    color: #fff;
    transition: all 0.3s;
}

.tourDates .tourDates-cards .btn:hover {
    background-color: #ddd !important;
    color: #000 !important;
}

/* ------------------ End TOUR DATES ---------------------------------*/


/* -------------------   MEDIA QUERIES  ----------------------------- */
/* ----- Small Screen ----- */
@media (max-width:760px) {
    .my-container {
        width: 80%;
    }

    header .navbar .navbar-nav .nav-item {
        text-align: left !important;
    }

    /* ----- START TOUR DATES ----- */
    .tourDates .tourDates-cards .card {
        margin-bottom: 2rem;
    }

    /* ----- End TOUR DATES ----- */
}

/* ----- Medium Screen ----- */
@media(max-width: 991px) {

    /* ----- START TOUR DATES ----- */
    .tourDates .tourDates-table,
    .tourDates-cards {
        width: 100%;
    }

    /* ----- End TOUR DATES ----- */
}
/*---------------contact-----------------------*/

#message{
    margin-top: 10px;
    padding-right: 200px;
}
/*---------------contact-----------------------*/





/*start footer style*/
.img-section img {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer i {
    text-align: center;
    color: rgb(128, 125, 125);
    font-size: 16px;
    margin-bottom: 16px;

}

.w3-medium {
    color: rgb(128, 125, 125);
    font-size: 12px;

}

footer a {
    color: rgb(128, 125, 125);
}

.footer i:hover {
    color: wheat;
}

a:hover {
    color: wheat;
}

/*end footer style*/